@yellow: #fffa19;
 .margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }
.padding(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
  }

.jumbotron {
  background-color: @yellow;
  color: black;
 .margenes(50px,0px);
   }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background-color: @yellow; 
  .margenes(10px,0px);
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
 .padding(10px,0px); }
